.all-todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.form{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.input{
    font-size: 18px;
    margin-right: 15px;
    background-color: transparent;
    border: 1px solid rgb(14, 151, 225);
    outline: none;
}
.form input[type="submit"]{
    background-color: rgb(41, 189, 15);
    font-size: 17px;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.one-todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgb(14, 151, 225);
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 15px;
}
.one-todo button{
    background-color: rgb(41, 189, 15);
    border: none;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
}